body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  /* border: 1px solid #dfdfdf; */
  /*margin-right: 300px;
  margin-left: 300px;*/
  background: #FAFAFA;
}
.white-box{
position: relative;
height: 75px;
width: 100%;
background-color: #FFFFFF;
margin-left: -8px;
margin-top: -10px;
position: fixed;
border: 2px solid #EAEAEA;
}
.fancy-instagram-script{
margin-left: 15px;
margin-bottom: 20px;
height: 40px;
width: auto;
}
.fab fa-instrgram{
  margin-top: 17px;
float: right;
}
this{
  position: absolute; 
  top: 17px;
}
.vertical {
margin-left: 20px;
border-left: 1.5px solid #A4A4A4;
height: 30px;
float: right;
}
move-up{
  position: absolute;
}
.this-whole-thing-on-the-left{
  display: row;
  flex-direction: row;
  position: absolute; 
  top: 17px;
}
.header-bar{
  margin-left: 18%;
  margin-right: 18%; 
position: fixed;
display: flex;
flex-direction: row;
background-color: transparent;
}
box{
border: 1px solid #DBDBDB;
background-color: #FAFAFA;
height: 28px;
width: 230px;
position: absolute;
left: 30%;
top: 17px;
}
box:hover{
border: 1px solid #DBDBDB;
background-color: dimgrey;
width: 235px;
position: absolute;
left: 30%;
top: 17px;
}
.search-contents{
display: flex;
flex-direction: row;
justify-content: center;
}
/*make sure to change this to 8px when putting into visual studio code*/
.magnifying-glass{
margin-top: 8px;
}
.search-words{
margin-top: 4px;
margin-left: 3px;
color: #A2A3AC;
font-size: 15px;
float: left;
}
.icon-navigation{
  margin-top: 17px;
  margin-left: 50px;
font-size: 25px;
float: right;
display: flex;
gap: 30px;
}
.invis-box{
background-color: transparent;
width: 1000px;
}
.main{
margin-left: 18%;
margin-right: 18%;
}
.firstpost{
border: 2px solid #E6E6E6;
margin-top: 90px;
width: 700px;
height: 965px;
background-color: #FFFFFF;
}
.secondpost{
  border: 2px solid #E6E6E6;
  margin-top: 30px;
  width: 700px;
  height: 1100px;
  background-color: #FFFFFF; 
}
natgeo-user{
display: flex;
flex-direction: row;
}
.natgeo-words{
margin-top: 16px;
}
.natgeo-profpic{
border-radius: 50%;
width: 35px;
padding: 12px;
}
.fish-pic{
width: 700px;
height: 700px;
}
.timothee-pic{
width: 700px;
height: auto;
}
like-comment-icons{
padding: 10px;
display: flex;
flex-direction: row;
gap: 15px;
color: rgb(90,90,90);
}
save-icons{
color: rgb(90,90,90);
font-size: 28px;
margin-left: 530px;
margin-top: 2px;
}
caption-likecount{
padding: 10px;
}
like-count{
font-weight: 900;
color: rgb(31,38,47);
}
.caption-user{
font-weight: 900;
color: rgb(31,38,47);
}
.caption{
padding: 10px; 
}
.hashtag{
color: rgb(5,112,172);
}
.timestamp{
margin-left: 10px;
margin-top: -10px;
color: rgb(153,154,154);
font-size: 14px;
}
hr{
margin-top: 15px;
margin-left: 10px;
width: 680px;
border: 1px solid #EFEFEF;
}
hr.extra{
margin-top: 10px;
margin-left: 10px;
width: 680px;
border: 1px solid transparent;
}
.add-comment{
padding: 10px;
color: rgb(163,166,166);
font-size: 15px;
}
.ellipsis{
color: rgb(88,88,88);  
margin-left: 525px;
}
.suggestions-for-you{
border: 2px solid #E6E6E6;
margin-top: 70px;
width: 700px;
height: 325px;
background-color: #FFFFFF;
}
suggestions-words{
color: rgb(153,153,153);
margin-left: 20px;
font-weight: 900;
font-size: 17px;
}
seeAll{
float: right;
  margin-right: 25px;
  color: rgb(54,151,240);
  font-weight: 900;
  font-size: 16px;
}
#boxes-suggestions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.prof1{
  border: 2px solid #E6E6E6;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #FFFFFF;
  border-color: #E6E6E6;
  width: 205px;
  height: 230px;
}
.prof2{
  border: 2px solid #E6E6E6;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #FFFFFF;
  border-color: #E6E6E6;
  width: 205px;
  height: 230px;
}
.prof3{
  border: 2px solid #E6E6E6;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #FFFFFF;
  border-color: #E6E6E6;
  width: 205px;
  height: 230px;
  position: relative;
  top: -249px;
  left: 454px;
  z-index = 1;
}
profpic-suggestions{
  display: flex;
  justify-content: center;
  padding: 12px;
}
.actual-pic{
  order: 1;
  margin-top: 5px;
  width: 60px;
  height: auto;
  border-radius: 50%;
}
#nasa-pic{
  width: 80px;
}
#nasa1{
  margin-top: -7px;
}
username-suggestions{
  display: flex;
  order: 2;
  justify-content: center;
  font-size: 20px;
  font-weight: 900;
  color: rgb(52,52,52);
}
pop{
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: rgb(168,169,178);
  margin-top: 5px;
}
follow-box{
  margin-top: 30px;
  margin-left: 27.5px;
  display: flex;
  justify-content: center;
  background: rgb(54,151,240);
	border-radius: 5px;
  width: 150px;
  height: 27px;
  border: 1px solid transparent;
}
text-follow{
  color: rgb(230,241,253);
  margin-top: 4px;
  font-weight: 900;
}
#spacex1{
  margin-top: 5px;
}
xButton{
  color: rgb(171,171,171);
  margin-left: 200px;
  position: relative;
  top: 165px;
}
xButton2{
  color: rgb(171,171,171);
  margin-left: 210px;
  position: relative;
  top: 165px;
  z-index = 1;
}
xButton3{
  color: rgb(171,171,171);
  margin-left: 175px;
  position: absolute;
  margin-top: 17px;
}
.stories-sidebar{
  border: 2px solid transparent;
  margin-top: 90px;
  width: 290px;
  height: 500px;
  position: relative;
  right: 290px;
}
me-user{
  display: flex;
  flex-direction: row;
  }
  .me-words{
  margin-top: 16px;
  }
  .me-profpic{
  border-radius: 50%;
  width: 40px;
  padding: 12px;
  }
.my-name{
  color: rgb(167,167,167);
  font-size: 12px;
  position: relative;
  top: 35px;
  right: 72px;
}
.smol{
  margin-top: 0px;
  margin-left: 10px;
  width: 98%;
  border: 1px solid #EFEFEF;
  }
  stories-word{
    display: flex;
    flex-direction: row;
  }
  stories{ 
    color:rgb(153,153,156);
    font-size: 16px;
    font-weight: 900;
    margin-left: 10px;
  }
  watch-all{
    color: rgb(61,61,61);
    font-size: 13px;
    font-weight: 900;
    margin-left: 175px;
  }
.stories{
    border: 2px solid transparent;
  margin-top: 200px;
  width: 300px;
  height: 300px;
  position: relative;
  left: 1020px;
  background-color: transparent;
  overflow: scroll;
  position: fixed;
  }
  a-user{
    display: flex;
    flex-direction: row;
    }
    .a-words{
    margin-top: 16px;
    }
    .a-profpic{
    border-radius: 50%;
    width: 40px;
    padding: 12px;
    }
  .description{
    color:rgb(156,156,157);
    font-size: 12px;
    margin-top: -30px;
    margin-left: 64px;
  }
  .copyright-stuff{
    border: 2px solid transparent;
  margin-top: 510px;
  width: 300px;
  height: 100px;
  position: relative;
  left: 1020px;
  background-color: transparent;
  overflow: scroll;
  position: fixed;
  }
  .texty{
    color: rgb(200,200,200);
    font-size: 12px;
  }
  .more-texty{
    color: rgb(200,200,200);
    font-size: 12px;
  }
  .even-more-texty{
    color: rgb(200,200,200);
    font-size: 12px;
  }
  .copyright-line{
    margin-top: 12px;
    color: rgb(200,200,200);
    font-size: 12px;
  }
@media (max-width:1024px){
  .stories-sidebar{
    visibility: hidden;
  }
  .stories{
    visibility: hidden;
  }
}