body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  /* border: 1px solid #dfdfdf; */
  /*margin-right: 300px;
  margin-left: 300px;*/
  background: #FAFAFA;
}
.white-box{
position: relative;
height: 75px;
width: 100%;
background-color: #FFFFFF;
margin-left: -8px;
margin-top: -10px;
position: fixed;
border: 2px solid #EAEAEA;
}
.fancy-instagram-script{
margin-left: 15px;
height: 40px;
width: auto;
}
.fab fa-instrgram{
float: right;
}
.vertical {
margin-left: 20px;
border-left: 1.5px solid #A4A4A4;
height: 30px;
float: right;
}
.header-bar{
margin-left: 300px;
margin-right: 300px; 
margin-top: 17px;
position: fixed;
display: flex;
flex-direction: row;
background-color: transparent;
}
box{
border: 1px solid #DBDBDB;
background-color: #FAFAFA;
height: 28px;
width: 230px;
position: absolute;
left: 40%;
}
box:hover{
border: 1px solid #DBDBDB;
background-color: dimgrey;
width: 235px;
position: absolute;
left: 40%;
}
.search-contents{
display: flex;
flex-direction: row;
justify-content: center;
}
/*make sure to change this to 8px when putting into visual studio code*/
.magnifying-glass{
margin-top: 8px;
}
.search-words{
margin-top: 4px;
margin-left: 3px;
color: #A2A3AC;
font-size: 15px;
float: left;
}
.icon-navigation{
font-size: 25px;
float: right;
display: flex;
gap: 30px;
}
.invis-box{
background-color: transparent;
width: 850px;
}
.main{
margin-left: 300px;
margin-right: 300px;
}
.feed{
border: 2px solid #E6E6E6;
margin-top: 90px;
width: 700px;
height: 800px;
background-color: #FFFFFF;
}
natgeo-user{
display: flex;
flex-direction: row;
}
.natgeo-words{
margin-top: 16px;
}
.natgeo-profpic{
border-radius: 50%;
width: 35px;
padding: 12px;
}
.fish-pic{
width: 700px;
height: 700px;
}
like-comment-icons{
padding: 7px;
display: flex;
flex-direction: row;
gap: 15px;
color: rgb(90,90,90);
}
save-icons{
color: rgb(90,90,90);
font-size: 28px;
margin-left: 530px;
margin-top: -5px;
}